<section class="home-content">
    <h1 class="text-3xl py-2 text-center">Popular Recipes</h1>
    <div class="recipe-wrapper grid grid-cols-3 gap-2">
        <div class="recipe-card p-2 border rounded-lg w-9/12">
            <h2 class="text-xl pb-2">Recipe 1</h2>
            <img class="rounded-lg" src="https://via.placeholder.com/300x300" alt="">
            <p class="recipe-description pt-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio
                reprehenderit
                commodi officiis fugit
                quisquam provident?</p>
            <ul class="recipe-info-list py-2">
                <li class="recipe-servings">Servings: </li>
                <li class="recipe-time">Cook Time: </li>
            </ul>
        </div>
        <div class="recipe-card p-2 border rounded-lg w-9/12">
            <h2 class="text-xl pb-2">Recipe 2</h2>
            <img class="rounded-lg" src="https://via.placeholder.com/300x300" alt="">
            <p class="recipe-description pt-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio
                reprehenderit
                commodi officiis fugit
                quisquam provident?</p>
            <ul class="recipe-info-list py-2">
                <li class="recipe-servings">Servings: </li>
                <li class="recipe-time">Cook Time: </li>
            </ul>
        </div>
        <div class="recipe-card p-2 border rounded-lg w-9/12">
            <h2 class="text-xl pb-2">Recipe 3</h2>
            <img class="rounded-lg" src="https://via.placeholder.com/300x300" alt="">
            <p class="recipe-description pt-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio
                reprehenderit
                commodi officiis fugit
                quisquam provident?</p>
            <ul class="recipe-info-list py-2">
                <li class="recipe-servings">Servings: </li>
                <li class="recipe-time">Cook Time: </li>
            </ul>
        </div>

    </div>
</section>