<h1 class="text-xl pb-2">All Recipes</h1>
<div class="filter-wrapper">
    <p>Looking for something specific? Filter through meals by selecting a type followed by any preferences you may
        have
    </p>
    <div class="filter-list">
        <p>Meal type:</p>
        <label for="breakfast"> Breakfast </label>
        <input type="checkbox" name="breakfast" id="breakfast">
        <label for="lunch"> Lunch </label>
        <input type="checkbox" name="lunch" id="lunch">
        <label for="dinner"> Dinner </label>
        <input type="checkbox" name="dinner" id="dinner">
        <label for="dessert"> Dessert </label>
        <input type="checkbox" name="dessert" id="dessert">
    </div>
    <div class="filter-list">
        <p>Filter options:</p>
        <label for="vegetarian"> Vegetarian </label>
        <input (change)="filterVegetarian()" type="checkbox" name="vegetarian" id="vegetarian">
        <label for="vegan"> Vegan </label>
        <input (change)="filterVegan()" type="checkbox" name="vegan" id="vegan">
        <label for="gluten"> Gluten-free </label>
        <input (change)="filterGluten()" type="checkbox" name="gluten" id="gluten">
        <label for="gluten"> Dairy-free </label>
        <input (change)="filterDairy()" type="checkbox" name="dairy" id="dairy">
    </div>
</div>
<section class="allRecipes">
    <div class="allRecipes-wrapper grid grid-cols-4 grid-rows-2 gap-2">
        <ul *ngFor="let recipe of recipes">
            <li>
                <div class="recipe-card bg-blue-200 my-2 p-2 border rounded-lg max-w-xs">
                    <a routerLink="/detail/{{recipe.id}}">
                        <h2 class="text-xl pb-2">{{recipe.title}}</h2>
                        <img class="rounded-lg" src="{{recipe.image}}" alt="">
                    </a>
                    <ul class="recipe-info-list">
                        <li class="recipe-servings pt-2">Servings: {{recipe.servings}} </li>
                        <li class="recipe-time">Cook Time: {{recipe.readyInMinutes}} </li>
                        <li class="recipe-time">Gluten free: {{recipe.glutenFree}} </li>
                        <li class="recipe-time">Dairy free: {{recipe.dairyFree}} </li>
                        <li class="recipe-time">Vegetarian: {{recipe.vegetarian}} </li>
                        <li class="recipe-time">Vegan: {{recipe.vegan}} </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- <app-recipe-detail [recipe]="selectedRecipe"></app-recipe-detail> -->