<div class="bg-gray-100 my-2 p-2 border rounded-lg min-w-min shadow-xl">
    <app-user-profile></app-user-profile>
    <app-new-list></app-new-list>

    <h2 class="text-xl mt-2">Your recipe lists:</h2>
    <div class="list-card-wrapper grid grid-cols-1 grid-rows-1 lg:grid-cols-4 lg:grid-rows-2 gap-2">
        <div>
            <p>Test</p>
            <div *ngFor="let result of results"> {{ result.title }}</div>
        </div>
        <div *ngFor="let list of lists" class="list-card bg-blue-200 my-2 p-2 border rounded-lg max-w-xs">
            <p class="text-xl font-bold">{{ list.list_title }}</p>
            <p class="text-xl font-bold">{{ list.id }}</p>
            <ul>
                <li><a routerLink="#">Recipe 1</a></li>
                <li><a routerLink="#">Recipe 2</a></li>
                <!-- <li *ngFor="let recipe_id of recipe_ids"><a routerLink="#">{{ spoonId.recipe_id }}</a></li> -->
            </ul>
        </div>
    </div>
    <section class="savedRecipes">
        <!-- <div *ngIf="savedRecipeService.savedRecipeCheck; else showNoSavedRecipes"> -->
        <div class="allRecipes-wrapper grid grid-cols-1 grid-rows-1 lg:grid-cols-4 lg:grid-rows-2 gap-2">
            <ul *ngFor="let recipe of recipesList; let i = index">
                <li>
                    <div class="recipe-card bg-blue-200 my-2 p-2 border rounded-lg max-w-xs">
                        <a routerLink="/detail/{{recipe.id}}">
                            <h2 class="text-xl pb-2">{{recipe.title}}</h2>
                            <img class="rounded-lg" src="{{recipe.image}}" alt="An image of {{recipe.title}}">
                        </a>
                        <ul class="recipe-info-list">
                            <li class="recipe-servings pt-2"><span class="font-bold">Servings:
                                </span>{{recipe.servings}}
                            </li>
                            <li class="recipe-time"><span class="font-bold">Cook Time:
                                </span>{{recipe.readyInMinutes}}
                                min
                            </li>
                            <li class="recipe-time"><span class="font-bold">Gluten free:
                                </span>{{recipe.glutenFree}}
                            </li>
                            <li class="recipe-time"><span class="font-bold">Dairy free: </span>{{recipe.dairyFree}}
                            </li>
                            <li class="recipe-time"><span class="font-bold">Vegetarian: </span>{{recipe.vegetarian}}
                            </li>
                            <li class="recipe-time"><span class="font-bold">Vegan: </span>{{recipe.vegan}} </li>
                        </ul>
                        <button (click)="removeRecipe(recipe)"
                            class="clear bg-transparent hover:bg-red-500 text-red-700 font-semibold hover:text-white py-1 px-2 border border-red-500 hover:border-transparent rounded">
                            Remove
                        </button>
                    </div>