<h2 class="text-xl mt-2">Name of list:</h2>
<div *ngIf="listRecipes!=null;"
    class="list-card-wrapper grid grid-cols-1 grid-rows-1 lg:grid-cols-4 lg:grid-rows-2 gap-2">
    <div class="list-card bg-blue-200 my-2 p-2 border rounded-lg max-w-xs">
        <p class="text-xl">Your saved recipes in this list:</p>
        <ul *ngFor="let listRecipe of listRecipes">
            <li>{{listRecipe.title}} <fa-icon (click)="deleteRecipe(listRecipe.id)" [ngStyle]="{'color': 'red'}"
                    [icon]="faTimes"></fa-icon>
            </li>
        </ul>
        <p class="text-xl font-bold"><a routerLink="/detail/000000">Recipe 2</a>
            <fa-icon [ngStyle]="{'color': 'red'}" [icon]="faTimes"></fa-icon>
        </p>
        <p class="text-xl font-bold"><a routerLink="/detail/000000">Recipe 3</a>
            <fa-icon [ngStyle]="{'color': 'red'}" [icon]="faTimes"></fa-icon>
        </p>
    </div>
</div>
<div *ngIf="listRecipes==null;">
    Loading...
</div>